<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteo de Partidas</title>
    <script src="/static/main.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Sorteo de Partidas</h1>
    <div>
        <button id="fetchTopics">Cargar Partidas</button>
        <select id="partida1"></select>
        <select id="partida2"></select>
        <select id="partida3"></select>
        <select id="partida_jugar"></select>
    </div>
    <button id="runLottery">Ejecutar Sorteo</button>
    <table id="results"></table>
</body>
</html>